.navbar{
    background-color: white;
    color: white;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.navlist li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.shoppingimg img {
    width: 30px ;
    float: right;
    margin-top: 20px;
}





