.container{
    display: flex;
    justify-content: center;
}
.itemContainer
{
    display: flex;
    justify-content: baseline;
}

.imagesContainer
{
    display: flex;
    margin: 10px;
    margin-right: 20px;
}
.mainImage{
    width: 400px;
    height: 400px;
    background-size: contain;
    border-radius: 20px;
     box-shadow: 0px 0px 2px 1px #888888;

    
}
.secondaryImageContainer{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 40px;
    
}
.secondaryImage{
    width: 125px;
    height: 125px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 1px #888888;


}
.reviewsContainer{
    
}
.infoContainer{
    margin-right: 150px;
}